.user_info {
    width: 100%;
    background: grey; /*cambiar*/
    position: fixed;
    top: o;
    padding: 5px 10px 5px;
    text-align: right;
}

label.alergenos input{
    display: none;

}

label.alergenos img{
    opacity: 0.5;
    border-radius: 50%;
}

label.alergenos input:checked +img{
    opacity: 1;
    transition: .2s;
    box-shadow: 0px 0px 5px 5px grey;
}