
label.alergenos input{
    display: none;

}

label.alergenos img{
    opacity: 0.5;
    border-radius: 50%;
}

label.alergenos input:checked +img{
    opacity: 1;
    transition: .2s;
    box-shadow: 0px 2px 5px 5px rgb(111, 168, 97);
}

.form-group{
    color: black;
}

/*ESTILOS BASE*/

body { padding-top: 110px; }

.jumbotron{
    background-image: url('/img/captura2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 0px 5px 5px olivedrab;
}

body{
    background-image: url('/img/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;

}

nav {
    box-shadow: 0px 2px 5px 2px rgb(116, 151, 107);
}

nav a{
    color: #734222;
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}

nav a:hover{
    color: gold;
    background-color:rgba(17, 86, 104, 0.637);
}

#info{
    background-image: url('/img/flor.jpg');
    
}

#infoHead{
    background-color:rgba(17, 86, 104, 0.637);
}

#infoPie{
    background-color:rgba(0, 0, 0, 0.5);
}


/*ESTILOS NUEVO MENU*/
#jumboMenu{
    background-image: url('/img/nuevoMenu.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    font-style: inherit;
    box-shadow: 0px 0px 5px 5px olivedrab;
    
}

#desa{
    background-image: url('/img/desa.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgba(0, 0, 0, 0.5);
   
    
    
}

#comida{
    background-image: url('/img/comi.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    
    
    
}

#cena{
    background-image: url('/img/cena.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    
    
}

.card-header{
    background-color:rgba(0, 0, 0, 0.5);
    color: #FFC312;
}

.card {
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 3px mediumseagreen;
}

p{
    color: white;
    font-family: 'Merienda', cursive;
}

table {
    background-color:rgba(255, 255, 255, 0.753);
    font-family: 'Merienda', cursive;
}

/*ALTA USUARIO*/
.modal-dialog{
    box-shadow: 0px 0px 5px 1px #FFC312;
}
.modal-content{
    background-image: url('/img/alta2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);


}

.modal-body{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: whitesmoke;
    font-family: 'Merienda', cursive;
}

.modal-header{
    background-color: rgba(0, 0, 0, 0.10) !important;
    color: #FFC312;
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}

/* ESTILOS MANUAL DE USUARIO*/

.accordion .collapse{
    background-color:rgba(255, 255, 255, 0.4);
    font-family: 'Merienda', cursive;
}

.accordion .card-header{
    background-color:rgba(152, 255, 89, 0.4);
    font-family: 'Merienda', cursive;
    text-decoration: none;
    color:#734222;
}

.accordion .card-header h2 button{
    text-decoration: none;
    color:#734222;
}

.accordion .card-header h2 button:hover{
    color:#FFC312;
    background-color:rgba(17, 86, 104, 0.637);
}

#intro{
    color: black;
}

.card-body img{
    display:block;
    
}