{% extends 'base.html.twig' %}

{% block title %}Nuevo Menú{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">Nuevo Menú:</h1>
            </div>
        </div>
        <div class="row">
            <div class="card offset-1">
                <div class="card-header">
                    <h5>Desayunos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Seleccione un desayuno:</p>
                    <div class="form-group">
                        <select class="nice-select" name="desayuno" >                  
                            <option value="">colacao</option>
                            <option value="">café</option>
                            <option value="">bizcocho</option>                       
                        </select>
                    </div>
                </div>
            </div>

            <div class="card offset-1">
                <div class="card-header">
                    <h5>Comidas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Seleccione una comida:</p>
                    <div class="form-group">
                        <select class="nice-select" name="comida" >                  
                            <option value="">tallarines</option>
                            <option value="">pollo asado</option>
                            <option value="">Ensalada capresse</option>                       
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <p class="card-text">Seleccione un postre para la comida:</p>
                    <div class="form-group">
                        <select class="nice-select" name="postreComida" >                  
                            <option value="">fresas con nata</option>
                            <option value="">tarta de manzana</option>
                            <option value="">Flan</option>                       
                        </select>
                    </div>
                </div>
            </div>

            <div class="card offset-1">
                <div class="card-header">
                    <h5>Cenas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Seleccione una cena:</p>
                    <div class="form-group">
                        <select class="nice-select" name="cena" >                  
                            <option value="">Salmón a la plancha</option>
                            <option value="">Sepia en salsa</option>
                            <option value="">Verduritas en tempura</option>                       
                        </select>
                    </div>
                    <br/>
                    <br/>
                    <p class="card-text">Seleccione un postre para la cena:</p>
                    <div class="form-group">
                        <select class="nice-select" name="postreCena" >                  
                            <option value="">fresas con nata</option>
                            <option value="">tarta de manzana</option>
                            <option value="">Flan</option>                       
                        </select>
                    </div>
                </div>
            </div>
             <div class="container">
                <hr/>
            </div>
            <div class="container text-center">
                <button type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-utensils"></i>&nbsp;Generar Menú &nbsp;<i class="fas fa-utensils"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
