<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Leyenda Alérgenos</title>
    <style>
        @page {
            margin-top: .5cm;
            margin-bottom: .5cm;
             background-image: url("/img/menu.jpg"); 
             background-position: top left;
             background-repeat: no-repeat;
             background-image-resize: 6;
             background-image-resolution: from-image;
             
        }
       
        .menu{
            text-align: center;
        }

        h1{
            margin:0;
        }

        table {
            margin-right: auto;
            margin-left: auto;
        }

        table td{
            text-align: center;
            padding-right: 24px;
            padding-left: 24px;
        }
       
    </style>
</head>
<body>
    <div class="menu">
        <img src="/img/decoradorUp.png"/>
        <h1>Guía de información sobre alérgenos e intolerancias alimentarias</h1>
            <table>
                <tr>
                    <td><img src="/img/alergenos/altramuces.png"/></td>
                    <td><img src="/img/alergenos/apio.png"/></td>
                    <td><img src="/img/alergenos/moluscos.png"/></td>
                </tr>
                <tr>
                    <td><img src="/img/alergenos/cacahuetes.png"/></td>
                    <td><img src="/img/alergenos/frutos_secos.png"/></td>
                    <td><img src="/img/alergenos/mostaza.png"/></td>
                </tr>
                <tr>
                    <td><img src="/img/alergenos/gluten.png"/></td>
                    <td><img src="/img/alergenos/huevos.png"/></td>
                    <td><img src="/img/alergenos/pescado.png"/></td>
                </tr>
                <tr>
                    <td><img src="/img/alergenos/lacteos.png"/></td>
                    <td><img src="/img/alergenos/marisco.png"/></td>
                    <td><img src="/img/alergenos/sesamo.png"/></td>
                </tr>
                <tr>
                    <td><img src="/img/alergenos/soja.png"/></td>
                    <td><img src="/img/alergenos/sulfitos.png"/></td>
                    <td><img src="/img/alergenos/altramuces.png"/></td>
                </tr>
            </table>
           
        <img src="/img/decoradorBottom.png"/>
    </div>
    
</body>
</html>