{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block menu_inicio %}active{% endblock %}

{% block jumbo %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron jumbotron-fluid" id="jumboManual">
			<div class="container">
				<h1 class="display-4">Manual de Usuario</h1>
			</div>
		</div>

        <div>
            <h2>Introducción</h2>
            <p id="intro">Este manual le permitirá aprender a utilizar todas las funcionalidades básicas del <strong>Gestor de Menús.</strong> </p>
        </div>
        <div class="row">
        <div class="w-100">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Cómo acceder al Gestor de Menús?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Acceda a <strong><a href = "http://localhost:8000/inicio">http://localhost:8000/inicio</a></strong>, introduzca su usuario y contraseña si ya ha creado su cuenta. En el caso contrário le pedirá registrarse para poder acceder a la aplicación.
                            <br/>
                            Para crear su propia cuenta, pulse en el botón <strong>"Regístrate"</strong>.
                            <br/>
                            Desde la ventana del login, también tenemos acceso al <strong>"Manual de usuario"</strong> por si tuviéramos alguna duda sobre como acceder a la aplicación.
                            <br/>
                            <br/>
                            <center>
                                <img src="/img/login.png"/>
                            </center> 
                            <br/>
                            Una vez pulsado el botón de "Regístrate" aparecerá una nueva ventana en la que introduciremos nuestro nombre de usuario y contraseña, pulsaremos el botón de <strong>"registrar"</strong> y así podremos darnos de alta en el programa:
                            <br/>
                            <br/>
                            <center>
                                <img src="/img/alta Usu.png"/> 
                            </center>
                            <br/>
                            Una vez registrados como nuevo usuario, nos saldrá una ventana de aviso donde nos avisará de que hemos sido dados de alta correctamente redireccionándonos a la ventana de inicio de sesión para que en ella introduzcamos los datos y podamos acceder a la aplicación. 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Apartados de la barra de Menú
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                        En la barra de menú, nos encontramos con las distintas opciones que posee la aplicación.
                        Para elegir la opción que queramos tan solo hay que clickar en el nombre de cada una de ellas.
                        <ol>
                                <ul><strong>i:</strong> En esta pestaña de la barra de menú tendremos acceso al manual de usuario, donde aprenderemos las utilidades del gestor de menús.</ul>
                                <ul><strong>Usuarios:</strong> En esta pestaña de la barra de menú tendremos acceso al listado de usuarios, donde podremos dar altas, bajas y modificaciones.</ul>
                                <ul><strong>Platos: </strong>Esta opción sirve para acceder al listado de platos para el menú. También podremos dar de alta nuevos platos, editar y eliminar.</ul>
                                <ul><strong>Nuevo Menú:</strong> Será la sección en la que podemos crear el menú del día para el Hogar del pensionista eligiendo los diferentes platos del menú.</ul>
                                <ul><strong>Desconectar:</strong> Es importante que una vez que hayamos terminado de hacer las gestiones necesarias, finalicemos la sesión para una mayor seguridad.</ul>
                        </ol>
                        <center>
                            <img src="/img/barra.png"/>
                        </center> 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Cómo gestionar el listado de Usuarios?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Dentro de la ventana de <strong>"usuarios"</strong>, podremos realizar determinadas operaciones:
                            <ol>
                                <ul><strong>Dar de alta a nuevos Usuarios:</strong> En la aplicación, disponemos de un alta de nuevos usuarios por si en algún momento fuera necesaria esta operación. Para ello, lo primero que haremos es clickar en el botón <strong>"Nuevo Usuario"</strong>, nos aparecerá una ventana emergente para dar de alta al igual que en el inicio de sesión.
                                En el caso de que queramos cancelar el alta nuevo clickaríamos en el botón de <strong>cancelar</strong>.
                                <br/>
                                <br/>
                                <center>
                                    <img src="/img/altaUsu2.png"/> </ul>
                                </center>
                                </br>
                                <ul><strong>Editar Usuarios:</strong> En el caso de que queramos editar a uno de los usuarios, debemos de situarnos en el usuario que vamos a modificar, clickar en el botón de color <strong>verde con forma de lapicero escribiendo</strong>. Saldrá una ventana emergente con el nombre de usuario en el formulario con la opción de modificarlo si lo deseamos. Respecto a la contraseña, el programa nos va a obligar a escribirla de nuevo o modificarla dependiendo de nuestros intereses. 
                                En el caso de que queramos cancelar la nueva edición clickaríamos en el botón de <strong>"cancelar"</strong>.
                                <br/>
                                <br/>
                                <center>
                                    <img src="/img/ediUsu.png"/> </ul>
                                </center>
                                <br/>
                                <ul><strong>Dar de baja Usuario</strong>. Nos situamos en el listado en el usuario que deseemos eliminar. Clickamos en e botón de <strong>color rojo con el dibujo de una papelera</strong>, y nos saldrá una ventana emergente preguntándonos si realmente queremos eliminar a ese usuario. Por último aceptamos dando al botón <strong>"Si"</strong>. En el caso de que haya un error o no queramos eliminar al usuario, tenemos el botón  <strong>"No"</strong> que es el de cancelar.
                                <br/>
                                <br/>
                                <center>
                                    <img src="/img/bajaUsu.png"/></ul>
                                </center>
                            </ol> 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ¿Cómo gestionar el listado de platos?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFlour" data-parent="#accordionExample">
                        <div class="card-body">
                        Dentro de la pestaña de <strong>"Platos"</strong>, podremos realizar determinadas operaciones:
                        <ol>
                            <ul><strong>Alta nuevo Plato:</strong> En primer lugar para poder gestionar nuestros platos, el usuario debe de dar de alta los diferentes platos para que podamos seleccionarlos en el menú. Para ello pulsaremos en el botón de color azul <strong>"Nuevo Plato"</strong>. Una vez pulsado, aparecerá una ventana emergente con el formulario de alta de platos. Introduciremos el Nombre del plato, las calorías, seleccionaremos del desplegable el tipo de plato que es, y clickaremos en las imágenes de los alérgenos que contenga dicho plato.
                            Por el contrario si queremos cancelar el alta nuevo clickaríamos en el botón de cancelar.
                            <br/>
                            <br/>
                            <center>
                                <img src="/img/altaPlato.png"/></ul>
                            </center>
                            </br>

                            <ul><strong>Editar Platos:</strong> En el caso de que queramos editar un plato, debemos de situarnos en el plato que vamos a modificar, clickar en el botón de color <strong>verde con forma de lapicero escribiendo</strong>. Saldrá una ventana emergente con los datos del formulario rellenos con los datos que tenemos guardado en la base de datos. Modificaremos los campos que deseemos. En cuanto a los alérgenos, si queremos deseleccionar uno de estos, tan solo clickaremos encima de la imágen y se deseleccionará. Una vez realizados los cambios, damos en el botón de Aceptar.
                            En el caso de que queramos cancelar la edición clickaríamos en el botón de cancelar.
                            <br/>
                            <br/>
                            <center>
                                <img src="/img/editarPlato.png"/></ul>
                            </center>
                            <br/>
                            <ul><strong>Baja de Platos: </strong>Nos situamos en el listado, en el plato que deseemos eliminar. Clickamos en e botón de <strong>color rojo con el dibujo de una papelera</strong> y nos saldrá una ventana emergente preguntándonos si realmente queremos eliminar ese plato. Por último aceptamos dando al botón <strong>"Si"</strong>. En el caso de que haya un error o no queramos eliminar a ese plato, tenemos el botón  <strong>"No"</strong> que es el de cancelar.
                                <br/>
                                <br/>
                                <center>
                                    <img src="/img/bajaplato.png"/></ul>
                                </center></ul>
                        </ol>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿Cómo crear el pdf con el Menú del día?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            En la barra de menú, encontramos la pestaña <strong>"Nuevo Menú"</strong>. Una vez de dentro, encontraremos 3 ventanas, con los diferentes tipos de comidas del día:
                            <ol>    <strong>
                                    <ul>Desayuno</ul>
                                    <ul>Comida</ul>
                                    <ul>Cena</ul>
                                    </strong>
                            </ol>
                            Cada una de estas ventanas tiene un menú desplegable con las distintas opciones que tenemos para elegir el menú. Elegiremos la opción que prefiramos para crear la carta.
                            Cabe destacar que en comida y cena podemos elegir también el postre.
                            <br/>
                            Para que nos muestre el pdf con el menú del día, clickaremos en el botón de <strong>"Generar Menú"</strong>.
                            <br/>
                            <br/>
                            <center>
                                <img src="/img/pdf.png"/>
                            </center>
                                <br/>
                                <br/>
                                Una vez clickado el botón, nos generará automáticamente el <strong>pdf</strong> con los platos que hemos seleccionado para el menú, con sus calorías y alérgenos de cada plato.
                                Al final de la página de menú, también nos informará del total de calorías aportadas en el menú del día.
                                <br/>
                                <br/>
                            <center>
                                <img src="/img/carta.png"/>
                            </center>
                                <br/>
                                <strong>*Nota informativa:</strong> Debajo de la carta del menú, hay una leyenda con el significado de cada uno de los alérgenos.

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
